<header class="header">
  <div class="header__container">
    <a href="/" target="_self" class="header__container--title">
      <h1>House Rent</h1>
    </a>
    <nav class="header__container--nav">
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/guneyeroglu/" target="_blank">
            <span>LinkedIn</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/guneyeroglu" target="_blank">
            <span>GitHub</span>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/guneyeroglu_/" target="_blank">
            <span>Instagram</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
