.header {
  padding: 2rem 0;
  background-color: #212121;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0rem 0.3rem 1.7rem -1rem #f6f6f6;

  &__container {
    max-width: 144rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &--title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      h1 {
        font-size: 3rem;
        font-weight: 500;
      }
    }

    &--nav > ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      li {
        border: 1px solid #f6f6f6;
        background-color: #212121;
        border-radius: 0.5rem;
        transition: background-color 0.35s ease-in-out;

        a {
          display: block;
          padding: 1rem;
          font-size: 2rem;
          transition: color 0.35s ease-in-out;
        }

        &:hover {
          background-color: #f6f6f6;

          a {
            color: #212121;
          }
        }
      }
    }
  }
}
