.header {
  padding: 2rem 0;
  background-color: #212121;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0rem 0.3rem 1.7rem -1rem #f6f6f6;

  &__container {
    max-width: 144rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &--title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      h1 {
        font-size: 3rem;
        font-weight: 500;
      }
    }

    &--mobileNav {
      display: none;
    }

    hr-nav.desktop {
      display: block;
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    &__container {
      &--title {
        h1 {
          font-size: 2rem;
        }
      }

      hr-nav.desktop {
        display: none;
      }

      hr-nav.mobile {
        display: block;
      }

      &--mobileNav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }
}
