<div class="filter">
  <input
    #filter
    type="text"
    placeholder="Şehre veya eyalete göre ev..."
    (keydown.enter)="onClickToFilterHouse(filter.value)"
  />
  <button type="button" (click)="onClickToFilterHouse(filter.value)">
    Filtrele
  </button>
</div>
<section class="results">
  <ul class="list">
    <li class="list__item" *ngFor="let house of filteredData">
      <hr-house-list-item
        class="list__item--component"
        [id]="house.id"
        [src]="house.photo"
        [alt]="'House - ' + house.name"
        [location]="house.city + ', ' + house.state"
        [estateName]="house.name"
      />
    </li>
  </ul>
</section>
