.filter {
  width: 25%;
  padding: 0 0.5rem 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  input {
    width: 80%;
    outline: none;
    border: 1px solid #f6f6f6;
    border-right: none;
    border-radius: 0.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #454545;
    padding: 1rem 2rem;
    color: #f6f6f6;

    &::placeholder {
      color: #f6f6f645;
    }
  }

  button {
    width: 20%;
    outline: none;
    border: 1px solid #f6f6f6;
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #454545;
    color: #f6f6f6;
    cursor: pointer;

    &:hover {
      background-color: #3d3d3d;
    }
  }
}

.results {
  padding: 0 0 0 2rem;

  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;

    &__item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      flex: 0 1 25%;
      padding: 2rem 2rem 0 0;

      &--component {
        width: 100%;
        display: block;
        border: 1px solid #d1d1d1;
        border-radius: 0.5rem;
      }
    }
  }
}

@media screen and (max-width: 1444px) {
  .filter {
    width: 33.333%;
  }

  .results {
    .list {
      &__item {
        flex: 0 1 33.333%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .filter {
    width: 100%;
    padding: 0 2rem;
  }

  .results {
    .list {
      &__item {
        flex: 0 1 50%;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .results {
    .list {
      &__item {
        flex: 0 1 100%;
      }
    }
  }
}
